10) Have a copy of Ookla's SpeedTest CLI installed in /usr/local/bin
    https://www.speedtest.net/apps/cli
    Note: run it from the command line the first time to confirm
    related terms and conditions.
20) Install the yagmail package (conda install -c conda-forge yagmail)
30) Have a dedicated GMAIL account kept less secure to send from python
    https://myaccount.google.com/u/0/security?hl=en&pli=1
35) Install python's keyring library
    conda install -c anaconda keyring
40) Initialize the keyring with yagmail to store userid/pass safely
    run the following python code once
    import yagmail
    yagmail.register('mygmailusername', 'mygmailpassword')
50) if you want to run this to log into a file even after quitting terminal
    nohup python -u speedtest.py >> adsl.log &
    where -u forces python not to buffer the writes
60) There is an OS specific command "ping -c 1" which is valid on
    Unix/Linux/MacOS hosts to see if Internet is resolvable and
    reachable. On Windows the -c parameter must become -n
